{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Left half of the screen -->
        <div class="col-md-6">
            <!-- Display today's recipes from the meal plan -->
            {% if meal_plan %}
                <h2>Today's Recipes</h2>
                {% if today_recipes == false %}
                    <h3>No Recipes For Today</h3>
                    <div class="mt-3">
                        <a href="{{ url_for('views.meal_plan') }}" class="btn btn-primary">generate some recipes</a>
                    </div>
                {% else %}
                
                    {% for day in meal_plan.days if day.date == datetime.datetime.today().date() %}
                        {% for meal in day.meals %}
                            <h4>{{ meal.meal_name }}</h4>
                            <ul class="list-group">
                                {% for recipe in meal.recipes %}
                                    <li class="list-group-item">
                                        <a href="{{ url_for('views.recipe_page', recipe_id=recipe.recipe_id) }}">{{ recipe.recipe_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% else %}
                <h3>No Meal Plan Currently Active</h3>
                <div class="mt-3">
                    <a href="{{ url_for('views.meal_plan') }}" class="btn btn-primary">Create a new meal plan</a>
                </div>
            {% endif %}
            <!-- Button to create a new recipe using ingredients on hand -->
            <h3>Make something now with what you have on hand</h3>
            <div class="mt-3">
                <a href="{{ url_for('views.recipe_selections') }}" class="btn btn-primary">Create a new recipe</a>
            </div>

        </div>

        <!-- Right half of the screen -->
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/muse.jpg') }}" alt="Placeholder Image" class="img-fluid">  
        </div>
    </div>

    <!-- Meal Plan Display -->
    <div class="container mt-4">
        
        {% if meal_plan %}
        <h2>Current Meal Plan</h2>
            <p>Description: {{ meal_plan.description }}</p>
            {% for day in meal_plan.days %}
                <h3>{{ day.day_name }}</h3>
                {% for meal in day.meals %}
                    <div class="card">
                        <div class="card-header">
                            {{ meal.meal_name }}
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for recipe in meal.recipes %}
                                <li class="list-group-item">
                                    <a href="{{ url_for('views.recipe_page', recipe_id=recipe.recipe_id) }}">
                                        {{ recipe.recipe_name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
