{% extends "meal_plan.html" %}

{% block meal_plan_selection %}

<div class="container mt-5">
    <h2 class="mb-4">Choose Your Reliance on Leftovers</h2>
    
    <form action="{{ url_for('views.leftovers') }}" method="post">
        <div class="form-group">
            <label for="leftoverPreference">Select your preference:</label>
            <select id="leftoverPreference" name="leftovers" class="form-control">
                <option value="" disabled selected>Select an option</option>
                <option value="No Leftovers">I don't own a fridge, don't make me eat nasty day-old crap</option>
                <option value="Rare Leftovers">I occasionally use leftovers, but not often</option>
                <option value="Some Leftovers">I'm okay with leftovers, but prefer variety</option>
                <option value="Often Leftovers">I frequently rely on leftovers</option>
                <option value="Mostly Leftovers">I prefer cooking once and eating leftovers a few times</option>
                <option value="Only Leftovers">I want to prep all my meals today and never cook again for the rest of my life</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit Preference</button>
    </form>
</div>




{% endblock %}