{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <!-- Shopping List Section -->
    <h3 class="h4 text-center">Shopping List</h3>
    <form action="/add_item" method="post" class="mb-2 d-flex flex-row align-items-center justify-content-center">
        <input type="text" id="name" name="name" class="form-control form-control-sm me-1" placeholder="Enter item name">
        <input type="number" id="quantity" name="quantity" step="1" class="form-control form-control-sm me-1" placeholder="Enter quantity (optional)">
        <input type="text" id="unit" name="unit" class="form-control form-control-sm me-1" placeholder="Enter units (optional)">
        <input type="hidden" id="list_type" name="list_type" value="shopping_list">
        <button type="submit" class="btn btn-primary btn-sm">Add</button>
    </form>

    <ul class="list-group text-left">
    {% for item in shopping_list_items %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{ item.item.name }}, {{ item.quantity }} {{ item.unit or '' }}</span>
            <div>
              <form action="/remove_item/shopping_list/{{ item.id }}" class="d-inline item-form">
                  <button type="submit" class="btn btn-link btn-sm" title="Remove all of this item">Remove</button>
              </form>
              <form action="/mark_as_purchased/{{ item.id }}" class="d-inline item-form">
                  <button type="submit" class="btn btn-link btn-sm" title="Remove and add to pantry">Purchased</button>
              </form>
          </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
